.ChemicalDropZoneBox {
	animation: breathing 5s infinite normal;
	transition-timing-function: ease-in-out;
}

@keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 40%;
	}

	25% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 90%;
	}

	60% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 40%;
	}

	100% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 40%;
	}
}
